<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842396421818-vic25tc3ps0s8e5oirdglaj99chhe5li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842396421818-vic25tc3ps0s8e5oirdglaj99chhe5li</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842396421818-2l6rpl7nebrbrcro3ouefqrqhap966du.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS10R2FG0-vpmaMjvbvks9wSxmcYqcdIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842396421818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commercepal.commercepal</string>
	<key>PROJECT_ID</key>
	<string>my-commercepal-signin</string>
	<key>STORAGE_BUCKET</key>
	<string>my-commercepal-signin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842396421818:ios:65f56f59e6cd0aba4dfc83</string>
</dict>
</plist>